*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
.Main{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 144px;
    padding-right: 200px;
    /* background-color: aqua; */
}
.Container{
    height: 500px;
    width: 800px;   
        /* position: relative;
        top: 140px;
        left: 250px; */
    background-color: #454444;
    border-radius: 10px;
    /* border: 2px solid white; */
}

.Container h1{
    color: whitesmoke;
    font-size: 2rem;
    font-family: sans-serif;
    text-align: center;
    padding-top: 10px;
}

.EditDiv{
    height: 430px;
    width: 750px;
    margin-left: 25px;
    margin-top: 10px;
    border: 1px solid white;
    border-radius: 10px;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.EditDiv p{
    color: white;
    /* font-size: 1.2rem;
    text-align: center;
    padding-top: 200px;
    padding-right: 180px;
    font-family: sans-serif; */
}