* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

.Filterdiv {
    height: 500px;
    width: 400px;
    position: absolute;
    top: 18.20%;
    right: 4.5%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: #454444;
    overflow-y: scroll;
    border-radius: 0px 10px 10px 0px;
}

.Filter {
    height: 200px;
    width: 47%;
    margin: 0px 0px 5px 0px;
    margin-top: 20px;
    margin-left: 10px;
    /* border: 1px solid darkorange; */
    position: relative;
}

.Filter img {
    height: 200px;
    width: 100%;
    object-fit: cover;
}

.mask {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0%;
    right: 0%;
}

#First {
    
    backdrop-filter: contrast(100%) brightness(100%) saturate(100%) sepia(30%) hue-rotate(0deg) grayscale(0%) invert(0%) blur(0px);
    mix-blend-mode: color-burn;
    background: rgba(62, 162, 253, 0.5);
    opacity: 1;
}

#Secound {}

#Third {}

#Fourth {}

#fifth {}

#Sixth {}

#Seventh {}

#Eighth {}